<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <classes>
  <class name="Test.Verifyfakecovergetmethod"/>  
  <class name="Test.Verifyfakecoverpostmethod"/>
  <class name="Test.Verifyfakecoverputmethod"/>
  <class name="Test.Verifyfakecoverdeletemethod"/>
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
